<div id="reg_form" class="bg_form">
  <h1>Listado de usuarios registrados</h1>

  <% @users.each do |user| %>
    <hr>
    <div class="user">
        <p><%= user.name %></p>
        <p><%= user.nickname %></p>
        <p><%= user.email %></p>
        <p><%= user.phone %></p>
        <p><%= user.birthday %></p>
        <p><%= user.gender %></p>
        <% if (!user.city.nil?) %>
          <p><%= user.city.name %></p>
        <% end %>
        <p><%= user.user_type.name %></p>
        <p><%= link_to 'Mostrar', user %>
          <% if can? :update, user %>
          - <%= link_to 'Editar', edit_user_path(user) %>
          <% end %>
          <% if can? :destroy, user %>
          - <%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Estas seguro?' } %>
          <% end %>
        </p>
    </div>
  <% end %>
  <hr>
  <% if can? :create, User %>
    <%= link_to 'Nuevo usuario', new_user_path %>
  <% end %>
</div>