<div id="reg_form" class="bg_form">
  <h1>Listado de usuarios registrados</h1>

  <% @users.each do |user| %>
    <hr>
    <div class="user">
        <p><%= user.name %></p>
        <p><%= user.nickname %></p>
        <p><%= user.email %></p>
        <p><%= user.phone %></p>
        <p><%= user.birthday %></p>
        <p><%= user.gender %></p>
        <% if (!user.city.nil?) %>
          <p><%= user.city.name %></p>
        <% end %>
        <p><%= user.user_type.name %></p>
        <p><%= link_to 'Mostrar', user %> - <%= link_to 'Editar', edit_user_path(user) %> - <%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Estas seguro?' } %></p>
    </div>
  <% end %>

  <hr>
  <%= link_to 'Nuevo usuario', new_user_path %>
</div>