<% provide(:title, @user.nickname) %>
<div class="row">
  <div id="reg_form" class="bg_form">
    <p>
      <b>Nombre:</b>
      <%= @user.name %>
    </p>

    <p>
      <b>Usuario:</b>
      <%= @user.nickname %>
    </p>

    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Telefono:</b>
      <%= @user.phone %>
    </p>

    <p>
      <b>Fecha de cumpleaños:</b>
      <%= @user.birthday %>
    </p>

    <p>
      <b>Sexo:</b>
      <%= @user.gender %>
    </p>

    <% if (!@user.city.nil?) %>
      <p>
        <b>Ciudad:</b>
        <%= @user.city.name %>
      </p>
    <% end %>

    <% if can? :update, @user %>
      <%= link_to 'Editar Perfil', edit_user_path(@user) %> |
    <% end %>
    <%= link_to 'Regresar', users_path %>
  </div>
</div>