<% provide(:title, @user.nickname) %>
<div class="row">
  <div id="reg_form" class="bg_form">
    <p>
      <b>Name:</b>
      <%= @user.name %>
    </p>

    <p>
      <b>Nickname:</b>
      <%= @user.nickname %>
    </p>

    <p>
      <b>Email:</b>
      <%= @user.email %>
    </p>

    <p>
      <b>Phone:</b>
      <%= @user.phone %>
    </p>

    <p>
      <b>Birthday:</b>
      <%= @user.birthday %>
    </p>

    <p>
      <b>Gender:</b>
      <%= @user.gender %>
    </p>

    <p>
      <b>City:</b>
      <%= @user.city_id %>
    </p>

    <p>
      <b>User type:</b>
      <%= @user.user_type_id %>
    </p>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>