<ul class="polaroideffect">
  <li>
    <%= image_tag("logo2.png", :alt => "NuestrosPrecios")%>
    <br />
    Nuestros Precios
  </li>
  <li>
    <%= image_tag("logo2.png", :alt => "NuestrosPrecios")%>
    <br />
    Nuestros Precios
  </li>
  <li>
    <%= image_tag("logo2.png", :alt => "NuestrosPrecios")%>
    <br />
    Nuestros Precios
  </li>
  <li>
    <%= image_tag("logo2.png", :alt => "NuestrosPrecios")%>
    <br />
    Nuestros Precios
  </li>
  <li>
    <%= image_tag("logo2.png", :alt => "NuestrosPrecios")%>
    <br />
    Nuestros Precios
  </li>
</ul>