<div class="row">
  <div class="span6">
    <%= form_for @company, :html => { :multipart => true} do |f| %>
      <%= render 'error_messages' %>

      <%= f.label :name, 'Nombre', :class => "label_form" %>
      <%= f.text_field :name, :class => "text_field_form" %>

      <%= f.label :nit, 'Nit', :class => "label_form"  %>
      <%= f.text_field :nit, :class => "text_field_form" %>

      <%= f.label :email, 'Email', :class => "label_form" %>
      <%= f.text_field :email, :class => "text_field_form" %>

      <%= f.label :web_site, 'Pagina Web', :class => "label_form" %>
      <%= f.text_field :web_site, :class => "text_field_form" %>

      <%= f.label :image, 'Imagen', :class => "label_form" %>
      <%= f.file_field :image, :class => "text_field_form" %>

      <%= f.label :remote_image_url, "o URL de imagen", :class => "label_form" %>
      <%= f.text_field :remote_image_url, :class => "text_field_form" %>

      <%= f.submit "Guardar", class: "btn btn-primary btn_form"%>

    <% end %>
  </div>
</div>