<% provide(:title, @product.name) %>
<div id="reg_form" class="bg_form blog_content">
	<div class="justify_text company_content">
	  <h3>Producto <%= @product.id%></h3>
	  <p>
	  	<b>Nombre: </b>
	  	<%= @product.name %>
	  	<br>
	  	<b>Precio: </b>
	  	<%= @product.price %>
			<br>
			<b>Cantidad disponible: </b>
	  	<%= @product.stock %>
	  	<br>
			<b>Empresa: </b>
	  	<%= @product.branch.name %>
	  </p>
	</div>
	<hr>
	<% if can? :update, @product %>
		<%= link_to 'Editar', edit_product_path(@product) %> |
	<% end %>
	<%= link_to 'Regresar', products_path %>
</div>